<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1">
	<parameter name="login" value="seleniumtest00" />
	<parameter name="password" value="gfhjkmlkzntcnjd" />
	<parameter name="csvSource" value="TestData.csv" />
	<parameter name="start page" value="https://mail.yahoo.com" />
	
	<test name="NewMessageTest">
		<classes>
			<class name="ru.tests.NewLetterTest">
			</class>
		</classes>
	</test> <!-- Test -->

	<test name="LoginTest">
		<classes>
			<class name="ru.tests.LoginTest" />
		</classes>
	</test> <!-- Test -->

	<test name="DraftTest">
	
		<classes>
			<class name="ru.tests.DraftTest">
			</class>
		</classes>
	</test> <!-- Test -->

	<test name="SendTest">
		<classes>
			<class name="ru.tests.SendLetterTest">
			</class>
		</classes>
	</test> <!-- Test -->
	
	<test name="AnotherWayForDeleting">
		<classes>
			<class name="ru.tests.usabilityTests.AnotherWayForDeletingTest">
			</class>
		</classes>
	</test> <!-- Test -->
	
	<test name="CleanTheTrashBasket">
		<classes>
			<class name="ru.tests.usabilityTests.CleaningTheBasket">
			</class>
		</classes>
	</test> <!-- Test -->

	<test name="LogoutTest">
		<groups>
			<run>
				<exclude name="logout" />
			</run>
		</groups>
		<classes>
			<class name="ru.tests.LogoutTest">
			</class>
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
